<?xml version="1.0" encoding="UTF-8"?>

<!-- DOCTYPE 이 없어도
 	Cannot resolve reference to bean 'sqlSessionTemplate' while setting bean property 'sqlSessionTemplate 
 	라는 에러가 나오니 참고할것!!!!! 
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.study.farmfind.mapper.AdminMapper">

	<!-- 아이디조회 -->
	<select id="adminLogin" parameterType="String" resultType="String">
		SELECT 
			ADMIN_PW 
		FROM 
			admin
		<where>
			1=1
			<if test="adminId != null and !adminId.equals('')">
				AND ADMIN_ID = #{adminId}
			</if>
		</where>
	</select>
	
	<insert id="adminSave" parameterType="com.study.farmfind.model.AdminDto">
		INSERT INTO 
			admin 
				(ADMIN_ID, ADMIN_PW) 
			VALUES
				( #{adminId}, #{adminPw} )
			
	</insert>
</mapper>